

span.datatable-header-cell-label.draggable {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold; /* Optional: Make it bold */
  color: red;
}
.icon {height: 10px; width: 10px; }

.disabled {opacity: 0.5; }

.bold-text {
    font-weight: bold;
  }
