<!-- Table of 3 columns below the map -->
<ion-grid>

  <!-- Title row -->
  <ion-row>
    <ion-col size="12" class="table-title"
      style="display: flex; justify-content: center; align-items: center; gap: 8px;">
      {{indicatorGroups.subRegion}}
      <ion-icon [name]="isLocked ? 'lock-closed-outline' : 'lock-open-outline'" style="font-size: 20px;">
      </ion-icon>
    </ion-col>
  </ion-row>

  <!-- Data rows -->
  <ion-row>
    <ion-col size="4" *ngFor="let column of indicatorGroups.columns">
      <ion-list class="scrollable-list">
        <ion-list-header>
          <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <ion-label>{{ column.col_title }}</ion-label>

            <ion-select placeholder="Show hidden..." (ionChange)="unhideRow(column.col_title, $event.detail.value)"
              style="margin-left: 16px; max-width: 50%;">
              <ion-select-option *ngFor="let row of hiddenRows[column.col_title]" [value]="row.code">
                {{ row.title }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-list-header>


        <ion-list>

          <ng-container *ngFor="let row of column.rows">
            <ion-item *ngIf="!isHidden(column.col_title, row.code)" (click)="onSelectIndicator(row.code)" button
              detail="false" [class.selected-item]="row.code === selectedRow">

              <ion-label
                style="font-size: 12px; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div style="display: flex; align-items: center;">
                  <span>{{ row.title }}</span>

                  <span *ngIf="row.value !== null" [ngStyle]="{
                        'background-color': getColor(row.pColor), 
                        'color': row.value > 55 ? 'white' : 'black', 
                        'padding': '4px', 
                        'border-radius': '4px',
                        'margin-left': '8px'
                      }">
                    {{ row.value | number: row.format }}
                  </span>
                </div>

                <!-- "X" Icon Button -->
                <ion-button fill="clear" size="small" color="medium"
                  (click)="hideRow(column.col_title ,{code: row.code, title: row.title}); $event.stopPropagation()">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-label>

            </ion-item>
          </ng-container>
        </ion-list>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>