<!-- Table of 3 columns below the map -->
<ion-grid>

  <!-- Title row -->
  <ion-row>
    <ion-col size="12" class="table-title"
      style="display: flex; justify-content: center; align-items: center; gap: 8px;">
      {{indicators.subRegion}}
      <ion-icon [name]="isLocked ? 'lock-closed-outline' : 'lock-open-outline'" style="font-size: 20px;">
      </ion-icon>
    </ion-col>
  </ion-row>

  <!-- Data rows -->
  <ion-row>
    <ion-col size="4" *ngFor="let column of indicators.columns">
      <ion-list class="scrollable-list">
        <ion-list-header>
          <ion-label>{{column.col_title}}</ion-label>
        </ion-list-header>

        <ion-list>
          <ion-item *ngFor="let row of column.rows" (click)="onSelectIndicator(row.code)" button detail="false"
            [class.selected-item]="row.code === selectedRow">
            <ion-label style="font-size: 12px; display: flex; justify-content: space-between; align-items: center;">
              <span>{{ row.title }}</span>

              <span *ngIf="row.value !== null" [ngStyle]="{
                      'background-color': getColor(row.value), 
                      'color': row.value > 55 ? 'white' : 'black', 
                      'padding': '4px', 
                      'border-radius': '4px',
                      'margin-left': '8px'
                    }">
                {{ row.value | number: '1.0-0' }}%
              </span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>