<!-- Table of 3 columns below the map -->
<ion-grid>

  <!-- Title row -->
  <ion-row>
    <ion-col size="12" class="table-title title-container">

      <!-- Centered content -->
      <div class="title-center">
        {{ indicatorGroups.subRegion }}
        (<em>{{ indicatorGroups.region }}</em>)

        <!-- <a href="https://example.com" target="_blank" rel="noopener" class="subtle-link">
          more info
        </a> -->

        <ion-icon [name]="isLocked ? 'lock-closed-outline' : 'lock-open-outline'" style="font-size: 20px;">
        </ion-icon>
      </div>

      <!-- Right-aligned download -->
      <ion-button class="download-btn" fill="clear" size="small" (click)="download()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>

    </ion-col>
  </ion-row>



  <!-- <ion-row>
  <ion-col size="6" id="ionCol">
    <div class="custom-card">
      <h4 class="taxonomy-table-title">Commercial Rate by Taxonomy vs Code Table</h4>
      <div class="table-wrapper">
        <table class="taxonomy-table">
          <thead>
            <tr>
              <th>Code</th>
              <th>BCBA</th>
              <th>BT</th>
              <th>BCBAD (Medicaid)</th>
              <th>BCaBA (Medicaid)</th>
              <th>BCBA & BT</th>
              <th>All</th>
            </tr>
          </thead>
          <tbody>
            <tr><th>97151</th><td>42</td><td>86</td><td>67</td><td>68</td><td>79</td><td>61</td></tr>
            <tr><th>97152</th><td>88</td><td>26</td><td>100</td><td>60</td><td>25</td><td>42</td></tr>
            <tr><th>97153</th><td>60</td><td>30</td><td>59</td><td>92</td><td>86</td><td>57</td></tr>
            <tr><th>97154</th><td>70</td><td>92</td><td>62</td><td>76</td><td>27</td><td>67</td></tr>
            <tr><th>97155</th><td>24</td><td>37</td><td>65</td><td>68</td><td>38</td><td>41</td></tr>
            <tr><th>97156</th><td>77</td><td>38</td><td>79</td><td>95</td><td>31</td><td>74</td></tr>
            <tr><th>97157</th><td>100</td><td>50</td><td>51</td><td>76</td><td>57</td><td>97</td></tr>
            <tr><th>97158</th><td>80</td><td>50</td><td>84</td><td>57</td><td>27</td><td>49</td></tr>
            <tr><th>All  </th><td>26</td><td>56</td><td>76</td><td>78</td><td>60</td><td>49</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-col>


  <ion-col size="6" id="ionCol">
    <div class="custom-card">
      <h4 class="taxonomy-table-title">Medicaid Rate by Taxonomy vs Code Table</h4>
      <div class="table-wrapper">
        <table class="taxonomy-table">
          <thead>
            <tr>
              <th>Code</th>
              <th>BCBA</th>
              <th>BT</th>
              <th>BCBAD (Medicaid)</th>
              <th>BCaBA (Medicaid)</th>
              <th>BCBA & BT</th>
              <th>All</th>
            </tr>
          </thead>
          <tbody>
            <tr><th>97151</th><td>42</td><td>86</td><td>67</td><td>68</td><td>79</td><td>61</td></tr>
            <tr><th>97152</th><td>88</td><td>26</td><td>100</td><td>60</td><td>25</td><td>42</td></tr>
            <tr><th>97153</th><td>60</td><td>30</td><td>59</td><td>92</td><td>86</td><td>57</td></tr>
            <tr><th>97154</th><td>70</td><td>92</td><td>62</td><td>76</td><td>27</td><td>67</td></tr>
            <tr><th>97155</th><td>24</td><td>37</td><td>65</td><td>68</td><td>38</td><td>41</td></tr>
            <tr><th>97156</th><td>77</td><td>38</td><td>79</td><td>95</td><td>31</td><td>74</td></tr>
            <tr><th>97157</th><td>100</td><td>50</td><td>51</td><td>76</td><td>57</td><td>97</td></tr>
            <tr><th>97158</th><td>80</td><td>50</td><td>84</td><td>57</td><td>27</td><td>49</td></tr>
            <tr><th>All  </th><td>26</td><td>56</td><td>76</td><td>78</td><td>60</td><td>49</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-col>
</ion-row> -->


  <!-- Data rows -->
  <ion-row>
    <ion-col size="4" *ngFor="let column of indicatorGroups.columns">
      <ion-list class="scrollable-list">
        <ion-list-header>
          <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <ion-label>{{ column.col_title }}</ion-label>

            <ion-select placeholder="Show hidden..." (ionChange)="unhideRow(column.col_title, $event.detail.value)"
              style="margin-left: 16px; max-width: 50%;">
              <ion-select-option *ngFor="let row of hiddenRows[column.col_title]" [value]="row.code">
                {{ row.title }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-list-header>


        <ion-list>

          <ng-container *ngFor="let row of column.rows">
            <ion-item *ngIf="!isHidden(column.col_title, row.code)" (click)="onSelectIndicator(row.code)" button
              detail="false" [class.selected-item]="row.code === selectedRow">

              <ion-label
                style="font-size: 12px; display: flex; justify-content: space-between; align-items: center; width: 100%;">

                <div style="display: flex; align-items: center;">
                  <span>{{ row.title }}</span>

                  <span *ngIf="row.value !== null" [ngStyle]="{
          'background-color': getColor(row.pColor), 
          'color': row.value > 55 ? 'white' : 'black', 
          'padding': '4px', 
          'border-radius': '4px',
          'margin-left': '8px'
        }">
                    {{ row.value | number: row.format }}
                  </span>
                </div>
                <!-- <br>F:{{row.format}} -->
                <div style="display: flex; align-items: center;">
                  <!-- Help Icon Button -->
                  <ion-button fill="clear" size="small" color="primary"
                    (click)="presentPopover($event, row); $event.stopPropagation()" *ngIf="(row.help.length) > 10">
                    <ion-icon name="help-circle-outline"></ion-icon>
                  </ion-button>

                  <!-- "X" Icon Button -->
                  <ion-button fill="clear" size="small" color="medium"
                    (click)="hideRow(column.col_title ,{code: row.code, title: row.title}); $event.stopPropagation()">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-label>


            </ion-item>
          </ng-container>
        </ion-list>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>