<ion-content>

  <ion-grid class="full-height-grid">

    <!-- <ion-row (click)="toggleCountyVisibility()"> -->
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" id="ionCol">
        <ion-header>
          <ion-toolbar>

            <!-- Title on the left -->
            <ion-title>
              Board Certified Behavior Analyst - Data: {{ selectedCountyFromChild }}
            </ion-title>

            <!-- Email + Sign Out on the right -->
            <ion-buttons slot="end" class="toolbar-buttons">
              <ion-text class="email-text">{{ usuarioSrv.email }}</ion-text>
              <ion-button (click)="signOut()" fill="clear" shape="round">
                <ion-icon slot="end" [name]="countiesVisible ? 'close-outline' : 'open-outline'"></ion-icon>
                Sign Out
              </ion-button>

            </ion-buttons>

          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="countiesVisible">

      <ion-col size-xs="8" size-sm="8" size-md="8" size-lg="8">

        <ion-row *ngIf="!chartStandardView" class="full-height-row">
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" id="ionCol">
            <div class="custom-card" (contextmenu)="onClickMapa($event)">
              <!-- Map goes here -->
              <div class="map-section">
                <div id="map">
                  <app-map-component [mapInput]="mapInput" (selectedCountyChange)="onSelectedCountyChange($event)"
                    (hoverOverMap)="onHoverOverMap($event)"></app-map-component>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" id="ionCol">
            <app-score-table [selectedPalette]="selectedPalette" [isLocked]="isLocked"
              [indicatorGroups]="indicatorGroups" [selectedRow]="selectedColumn.indicatorCode"
              (selectedCountyChange)="onIndicatorChange($event)"></app-score-table>
          </ion-col>
        </ion-row>





        <ion-row *ngIf="mapInput.title === 'Rates'">
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" id="ionCol">
            <div class="custom-card">
              <div class="box-plot-section">
                <div id="box-plot">
                  <app-box-plot [data]="mapInput.data"></app-box-plot>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-card *ngIf="mapInput.title === 'Rates'">
          <ion-card-header>
            <ion-card-title>{{ mapInput.title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ngx-datatable #table class="material" [rows]="mapInput.data" [columns]="columns" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [sorts]="[{ prop: 'subRegion', dir: 'asc' }]"
              [scrollbarH]="true" [reorderable]="true">

              <ngx-datatable-column [name]="(mapInput.region.type === 'country' ? 'State' : 'County')" prop="subRegion">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q10" prop="quantiles.q10">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | number: '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q25" prop="quantiles.q25">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | number: '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q50" prop="quantiles.q50">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | number: '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q75" prop="quantiles.q75">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | number: '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q90" prop="quantiles.q90">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | number: '1.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Change" prop="quantiles.change">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ 100 * value | number: '1.0-0' }}%
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Q My Rate" prop="quantiles.myRate">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="value !== null && value !== ''" [ngStyle]="{
                      'background-color': getColor(value), 
                      'color': value > 55 ? 'white' : 'black', 
                      'padding': '4px', 
                      'border-radius': '4px'
                    }">
                    {{ value | number: '1.0-0' }}%
                  </span>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </ion-card-content>
        </ion-card>



      </ion-col>


      <ion-col class="fixed-width" size-xs="3" size-sm="3" size-md="3" size-lg="3">

        <div class="camber-background-alone" style="padding: 1rem;" *ngIf="!isCoaba">
          <div class="login-container-alone">
            <img src="assets/camber_logo.svg" alt="Camber Logo" class="logo-alone" />
          </div>
        </div>


        <div class="logo-container" *ngIf="isCoaba">
          <div class="logo-subcard camber-bg">
            <img src="assets/camber_logo_top_new_2.svg" alt="Camber Logo" class="logo" />
          </div>
          <div class="logo-subcard coaba-bg">
            <img src="assets/coaba-logo.png" alt="Coaba Logo" class="logo" />
          </div>
        </div>

        <ion-list class="scrollable-list">

          <!-- Filters Section -->
          <ion-list-header>
            <ion-label>Filters</ion-label>
          </ion-list-header>


          <app-search-box [ngStyle]="{ 'z-index': 1100 }" [items]="payers" placeholder="Payers (All)"
            (selectedItemChange)="onPayerChange($event)"></app-search-box>

          <!-- *ngIf="this.selPayer !== 'ZZ'" -->
          <app-search-box [ngStyle]="{ 'z-index': 100 }" [items]="networks" placeholder="Networks (All)"
            [disabled]="disableNetwork" (selectedItemChange)="onNetworkChange($event)"></app-search-box>


          <ion-item>
            <ion-label>Code</ion-label>
            <ion-select [(ngModel)]="selCode" placeholder="Select a code" (ionChange)="onCodeChange($event)">
              <ion-select-option *ngFor="let code of codes" [value]="code.id">
                {{ code.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Taxonomy</ion-label>
            <ion-select [(ngModel)]="selTaxonomy" placeholder="Select a taxonomy code"
              (ionChange)="onTaxonomyChange($event)">
              <ion-select-option *ngFor="let taxonomy of taxonomies" [value]="taxonomy.id">
                {{ taxonomy.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Rate Section -->
          <ion-list-header>
            <ion-label>Medicaid Rate</ion-label>
          </ion-list-header>

          <ion-item>
            ${{theRate | number: '1.2-2'}}
          </ion-item>

          <!-- My rate Section -->
          <ion-list-header>
            <ion-label>My rate</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label position="floating">My rate ($)</ion-label>
            <ion-input [(ngModel)]="myRate" type="number" step="0.01" min="0" (ionChange)="onRateChange($event)">
            </ion-input>
          </ion-item>



          <!-- Ratios Section -->
          <ion-list-header>
            <ion-label>Ratios</ion-label>
          </ion-list-header>

          <ion-item lines="full">
            <ion-label>... over Population</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="isPopulationChecked"
              (ionChange)="onCheckboxChange($event)"></ion-checkbox>
          </ion-item>

          <ion-item lines="full">
            <ion-label>... over Cnt Entities</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="isCntEntitiesChecked"
              (ionChange)="onCheckboxChangeCntEntities($event)"></ion-checkbox>
          </ion-item>

        </ion-list>


        <!-- Reference Section -->
        <ion-card class="reference-card">
          <ion-card-header>
            <ion-card-title>Useful Resources</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/camber-logo.png" alt="Camber Health">
              </ion-thumbnail>
              <ion-label>
                <h3>Camber Health</h3>
                <p>Payer Rate Data</p>
              </ion-label>
              <ion-button fill="outline" size="small" color="primary" slot="end"
                (click)="openLink('https://www.camber.health/knowledge/payer-rate-data')">
                Visit
              </ion-button>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="assets/BACB_Logo_200.png" alt="BACB">
              </ion-thumbnail>
              <ion-label>
                <h3>BACB</h3>
                <p>Certificant Demographic Data</p>
              </ion-label>
              <ion-button fill="outline" size="small" color="primary" slot="end"
                (click)="openLink('https://www.bacb.com/bacb-certificant-data/#demographic_data')">
                Visit
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Color Palette Selector -->
        <ion-card class="color-palette-card">
          <ion-card-header>
            <ion-card-title>Choose Color Palette</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-segment [(ngModel)]="selectedPalette" (ionChange)="applyColorPalette()">
              <ion-segment-button *ngFor="let palette of palettes" [value]="palette.paletteId">
                <div class="palette-box">
                  <div class="color-box" [style.background]="palette.color1"></div>
                  <div class="color-box" [style.background]="palette.color2"></div>
                  <div class="color-box" [style.background]="palette.color3"></div>
                </div>
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <!-- Help Link -->
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-icon name="help-circle-outline" size="large"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <h3>Help</h3>
                <p>Visit the help center for documentation and FAQs</p>
              </ion-label>
              <ion-button fill="outline" size="small" color="primary" slot="end"
                (click)="openLink('https://yourdomain.com/help')">
                Visit
              </ion-button>
            </ion-item>

            <!-- Chat Link -->
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <h3>Chat</h3>
                <p>Talk with support or our assistant</p>
              </ion-label>
              <ion-button fill="outline" size="small" color="primary" slot="end"
                (click)="openLink('https://yourdomain.com/chat')">
                Chat
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>
</ion-content>